#overlay {
    position: absolute;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
}

#camera {
    position: absolute;
    margin: 0 auto;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTakFFkU6bEiyFSY9uxwhf-WO8wv-i95sicvMfB7YZnrkD-08MXNk4Mnce4jUzc3bmDPDU&usqp=CAU");
    border: 1px black dotted;
}

#tryon {
    position : relative;
    margin : 0px auto;
}

.buttons{
    position: absolute;
    top:20%;
    left: 150px;
}

.buttons #previous{
    
    margin-bottom: 140px;
}


.buttons button{
    border: 1px solid;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px; 
    padding-right: 20px;
    font-size: 18px;
    font:inherit;
    /* box-shadow: 0px 3px 10px #0057ab; */
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;
    /* border-bottom: 4px solid #d9d9d9; */
}
button:hover {
  /* box-shadow: 0px 15px 25px -5px #0057ab; */
  transform: scale(1.03);
}
button:active {
  /* box-shadow: 0px 4px 8px #0065c8; */
  transform: scale(0.98);
}
#debug {
    width:640px;
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height:12px;
}